.display-card-container{
    width: 90%;
    /* display: flex; */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
 gap: 4rem;
 margin-left: 6rem;
 margin-bottom: 3rem;
 overflow-x: auto;
 overscroll-behavior-inline: contain;
 /* border: 0.2rem solid red; */
}
::-webkit-scrollbar {
    width: 1rem;
    /* background-color: yellow; */
    display: none;
  }
  /* Track */
::-webkit-scrollbar-track {
    /* background: #f19e9e; 
    display: none; */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    /* background: rgb(100, 169, 111); */
    /* display: none; */
  }
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: rgb(80, 65, 251);
  } */